[submodule "myfirst-foundry/lib/forge-std"]
	path = myfirst-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "myfirst-foundry/lib/openzeppelin-contracts"]
	path = myfirst-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "TokenBank/contracts/lib/openzeppelin-contracts"]
	path = TokenBank/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "TokenBank/contracts/lib/forge-std"]
	path = TokenBank/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFTMarket/contracts/lib/openzeppelin-contracts"]
	path = NFTMarket/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "NFTMarket/contracts/lib/forge-std"]
	path = NFTMarket/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFTMarket/contracts/lib/erc721-permit"]
	path = NFTMarket/contracts/lib/erc721-permit
	url = https://github.com/erc721-permit/erc721-permit
[submodule "myfirst-foundry/lib/openzeppelin-foundry-upgrades"]
	path = myfirst-foundry/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "myfirst-foundry/lib/openzeppelin-contracts-upgradeable"]
	path = myfirst-foundry/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "myfirst-foundry/lib/chainlink-brownie-contracts"]
	path = myfirst-foundry/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
